body {
  font-family: 'Roboto', sans-serif;
  background: #FBFCFE;
  background-image: url(image1.jpeg);
  background-size: cover;
}

/* === High Score Page === */


  /* Style button with colour and display */
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; /* Set height to 100% of viewport height for vertical centering */
  }
  
  #highscores {
    width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  

  .highscores h1 {
    font-weight: bold;
    padding: 20px;
    font-size: 250%;

  }


  .btn {
    padding: 15px 25px;
    background-color: #b48650;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 25px;
    transition: background-color 0.3s;
    border-radius: 8px;
  }
  
  .btn:hover,
  .btn:hover:hover.btn {
    box-shadow: inset 0px 0px 8px rgb(228, 175, 96), 0 0 15px rgb(228, 175, 96);
  }