body {
  font-family: 'Roboto', sans-serif;
  background: #FBFCFE;
  background-image: url(image1.jpeg);
  background-size: cover;
  height: 100vh;
}

/* === High Score Page === */

  /* Style highscores section with display properties */
 
  .highscores {
    width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  
 /* Style highscores header with font and display properties */
  .highscores h1 {
    font-weight: bold;
    padding: 20px;
    font-size: 250%;
    display: flex;
     justify-content: center;

  }

  /* Style highscore details (initials & score)  with font and display properties */
  .details {
    font-size: 150%;
    padding: 5px;
    display: column;
    padding: 30px;
    margin: 10px 0;

  }

  /* Style button container with display properties */
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; /* Set height to 100% of viewport height for vertical centering */
    margin: 20px;
  }
  
  /* Style button class with color, cursor and display */
  .btn {
    padding: 15px 25px;
    background-color: #b48650;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 25px;
    transition: background-color 0.3s;
    border-radius: 8px;
  }
  
  /* Style button hover with a shadow */
  
  .btn:hover,
  .btn:hover:hover.btn {
    box-shadow: inset 0px 0px 8px rgb(228, 175, 96), 0 0 15px rgb(228, 175, 96);
  }
