body {
  font-family: 'Roboto', sans-serif;
  background: #FBFCFE;
  background-image: url(image1.jpeg);
  background-size: cover;
  height: 100vh;

}
/* === HEADER === */

/* Style the header with font and colors */
.header {
  padding: 20px;
  color: #413b35;
  
}

/* Style the header with no bullet points */
.header ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  
}

/* Style the ul li with colour and display */
.header ul li {
  font-weight: bold;
  font-size: 150%;
  padding: 15px;
  
}
#seconds {
  font-weight: bold;
  font-size: 150%;
  padding: 15px;
}

/* === Start Quiz Page === */

/* Style the ul li with colour and display */
.start h1 {
  font-weight: bold;
  padding: 20px;
  font-size: 250%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.start p{
  font-size: 150%;
  padding: 5px;
  display: flex;
  justify-content: center;
}

/* Style "Start Game" button with colour and display */
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh; /* Set height to 100% of viewport height for vertical centering */
}


.btn {
  padding: 15px 25px;
  background-color: #b48650;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 25px;
  transition: background-color 0.3s;
  border-radius: 8px;
}

.btn:hover,
.btn:hover:hover.btn {
  box-shadow: inset 0px 0px 8px rgb(228, 175, 96), 0 0 15px rgb(228, 175, 96);
}

#quiz {
  width: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}

#questions {
  font-weight: bold;
  padding: 20px;
  font-size: 200%;
  display: flex;
  justify-content: center;
}

#answers {
  padding: 40px;
  font-size: 150%;
  background-color:  #FBFCFE;
}

#answers :hover {
  background-color:  rgb(228, 175, 96);
}


#checker {
  padding: 40px;
  font-size: 150%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: #413b35;

}


/* Style the ul li with colour and display */

#finish {
  width: 600px;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}
#finish h1 {
  font-weight: bold;
  padding: 20px;
  font-size: 250%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

#finish p{
  font-size: 150%;
  padding: 5px;
  display: flex;
  justify-content: center;

}

#score {
  font-size: 150%;
  padding: 5px;
  display: flex;
  justify-content: center;
}

#initials input {
  font-size: 150%;
  padding: 5px;
  display: flex;
  justify-content: center;
  
}


